#!/usr/bin/bash
# Dump all MySQL/MariaDB databases

OUTPUT=" "/var/backups/databases" /$(date + "backup_databases -%Y%m%d.mysqldump")"
/usr/bin/mysqldump --all-databases -r "$OUTPUT.tmp"

size=$(stat -c%s "$OUTPUT.tmp")
if [ $size -lt 100000 ]; then
    echo "ERROR: Database backup '$OUTPUT.tmp' is less than {{ mysql_backup_minimum_expected_size }} bytes"
    exit 2
fi

mv "$OUTPUT.tmp" "$OUTPUT"
